<a href="https://colab.research.google.com/github/gord0n0/mini_tasks/blob/Mini-tasks/task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

foods = ["pizza", "cake", "banana", "kales", "pizza", "chicken", "beef", "apple"]


print("First item:", foods[0])
print("Last item:", foods[-1])


foods[2] = "mango"


foods.append("avocado")

foods.remove("cake")


print("All foods:")
for food in foods:
    print(food)

print("Foods starting with 'a':")
for food in foods:
    if food.startswith("a"):
        print(food)


pizza_count = foods.count("pizza")
print("Pizza appears", pizza_count, "times.")

print("Second to fourth items:", foods[1:4])

print("Reversed list:", foods[::-1])

First item: pizza
Last item: apple
All foods:
pizza
mango
kales
pizza
chicken
beef
apple
avocado
Foods starting with 'a':
apple
avocado
Pizza appears 2 times.
Second to fourth items: ['mango', 'kales', 'pizza']
Reversed list: ['avocado', 'apple', 'beef', 'chicken', 'pizza', 'kales', 'mango', 'pizza']

In [ ]:

numbers = [5, 2, 9, 1, 7]

total = sum(numbers)
highest = max(numbers)
smallest = min(numbers)

print("Total:", total)
print("Highest number:", highest)
print("Smallest number:", smallest)

numbers.sort()
print("Sorted ascending:", numbers)

numbers.reverse()
print("Sorted descending:", numbers)


numbers.insert(2, 10)
print("After inserting 10 at index 2:", numbers)

Total: 24
Highest number: 9
Smallest number: 1
Sorted ascending: [1, 2, 5, 7, 9]
Sorted descending: [9, 7, 5, 2, 1]
After inserting 10 at index 2: [9, 7, 10, 5, 2, 1]

In [ ]:

students = [["Alice", 85], ["Bob", 78], ["Charlie", 92]]


for student in students:
    print(f"{student[0]}: {student[1]}")


highest_score_student = max(students, key=lambda x: x[1])
print(f"Top student: {highest_score_student[0]} with a score of {highest_score_student[1]}")

Alice: 85
Bob: 78
Charlie: 92
Top student: Charlie with a score of 92

In [ ]:

def get_five_numbers():
    numbers = []
    print("Please enter 5 numbers:")
    for i in range(5):
        while True:
            try:
                num = int(input(f"Number {i+1}: "))
                numbers.append(num)
                break
            except ValueError:
                print("That's not a valid number. Please try again.")
    return numbers


def remove_even_numbers(numbers):
    return [num for num in numbers if num % 2 != 0]

user_numbers = get_five_numbers()
print("Your numbers:", user_numbers)

odd_numbers = remove_even_numbers(user_numbers)
print("List after removing even numbers:", odd_numbers)

Please enter 5 numbers:
Number 1: 2
Number 2: 3
Number 3: 4
Number 4: 5
Number 5: 6
Your numbers: [2, 3, 4, 5, 6]
List after removing even numbers: [3, 5]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2
print("Merged list (using +):", merged_list)

list1.extend(list2)
print("Merged list (using extend):", list1)

Merged list (using +): [1, 2, 3, 4, 5, 6]
Merged list (using extend): [1, 2, 3, 4, 5, 6]

In [ ]:


names = []

while True:
    name = input("Enter a student name (or type 'stop' to finish): ")
    if name.lower() == "stop":
        break
    names.append(name)

print("All student names:", names)

print("Names longer than 5 characters:")
for name in names:
    if len(name) > 5:
        print(name)

Enter a student name (or type 'stop' to finish): Carl
Enter a student name (or type 'stop' to finish): stop
All student names: ['Carl']
Names longer than 5 characters: